.place__title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 1024px) {
    .place__title {
        font-size: calc(42px + (72 - 42) * ((100vw - 768px) / 256));
        line-height: calc(46px + (76 - 46) * ((100vw - 768px) / 256));
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: calc(32px + (42 - 32) * ((100vw - 425px) / 343));
        line-height: calc(35px + (46 - 35) * ((100vw - 425px) / 343));
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}