@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__image/lead__image.css");
@import url("./__caption/lead__caption.css");


.lead {
    margin-top: 58px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% * (984/1280));
}

@media (max-width: 1024px) and (min-width: 769px) {
    .lead {
        margin-top: 50px;
        width: calc(100% * (928/1024));
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .lead {
        margin-top: 50px;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .lead {
        margin-top: 50px;
        width: 100%;
    }
}