.place__paragraph {
    margin-top: 0;
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        margin-bottom: 25px;
    }
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}