.page-container {
    width: calc(100% * (984/1280));
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .page-container {
        width: calc(100% * (928/1024));
    }
}

@media screen and (max-width: 768px) {
    .page-container {
        width: calc(100% * (720/768));
    }
}

@media screen and (max-width: 425px) {
    .page-container {
        width: calc(100% * (288/320));
    }
}