@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');


.page {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    background-color: #2A2C2F;
    -webkit-font-smoothing: antialiased;
    /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
}

.header {
    padding-top: 34px;
    margin-left: auto;
    margin-right: auto;
    /* ALTERNATIVE SOLUTION FOR PERSONAL REFERENCE
    width: calc(100% - (2*148px));*/
    width: calc(100% * (984/1280));
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 425px) {
    .header {
        padding-top: 20px;
        /* ALTERNATIVE SOLUTION
        width: calc(100% - (2*16px));*/
        width: calc(100% * (288/320));
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .header {
        /* ALTERNATIVE SOLUTION
        width: calc(100% - (2*24px));*/
        width: calc(100% * (720/768));
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        /* ALTERNATIVE SOLUTION
        width: calc(100% - (2*48px));*/
        width: calc(100% * (928/1024));
    }
}



.header__lang-link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-align: right;
}

.header__lang-link:first-of-type {
    text-decoration: underline;
    margin-right: 18px;
}

@media (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */
    }
}


/*HEADER ENDS */

.logo {
    width: 190px;
    height: 44px;
}

@media (max-width: 425px) {
    .logo {
        width: 156px;
        height: 36px;
    }
}

/*LOGO ENDS */

.lead {
    margin-top: 58px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% * (984/1280));
}

@media (max-width: 425px) {
    .lead {
        margin-top: 50px;
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .lead {
        margin-top: 50px;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .lead {
        margin-top: 50px;
        width: calc(100% * (928/1024));
    }
}


.lead__title {
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
}

@media (max-width: 425px) {
    .lead__title {
        margin-bottom: 16px;
        width: 288px;
        font-size: 40px;
        line-height: 44px;
        /* or 110% */
    }
}

@media (min-width: 426px) and (max-width: 768px) {}


.lead__subtitle {
    margin-top: 0;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 620px;
}


@media (max-width: 425px) {
    .lead__subtitle {
        margin-bottom: 40px;
        width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 426px) and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}


.lead__image {
    width: 100%;
}

.lead__caption {
    text-align: left;
}